body,html {
	background-color:lightblue;
	margin:0px;
	padding:0px;
}
h1 {
	font-family:verdana;
	margin:0px;
	padding:0px;
	margin-left:10px;
	line-height:100px;
	vertical-align:top;
}
h2 {
	font-family:arial;
	border-bottom:1px solid black;
}
td {
	font-family:georgia;
	font-size:14px;
}
#main {
	width:1200px;
}

#scores {
  float:left;
  width:300px;
}
#wrapper {
  padding:10px 50px;
  width:700px;
  float:left;
  background-color:#ccffff;
}
#footer {
	clear:left;
	font-family:georgia;
	font-size:14px;
	margin-left:10px;
}
.winner {
	font-weight:bold;
}
