##hi-start##
<div id='todaysgames'>
<h2 align=center>Today's Games</h2>
<table id='todaysgamestable' border=0 cellpadding=5 cellspacing=1 align=center>
<tr><th>Time</th><th>Away</th><th>Home</th></tr>
</table>
* Times are PST
</div>
<br><br><br>

<div id='recentgames'>
<h2 align=center>Recent Games</h2>
<table id='recentgamestable' border=0 cellpadding=5 cellspacing=1 align=center>
<tr><th>Date</th><th>Away</th><th>Home</th><th>Winning Owner</th></tr>
</table>
</div>
<br><br><br>

<div id='teams'>
<h2 align=center>Teams</h2>
<table id='teamstable' border=0 cellpadding=5 cellspacing=1 align=center width=80%>
<tr><th align=left>Team</th><th align=left>Wins</th><th align=left>Losses</th><th align=left>Owner</th></tr>
</table>
</div>

