<div>
<table id='todaysgamestable' border=0 cellpadding=5 cellspacing=1 align=left width='100%'>
<tr><td colspan=7><h2 align=center>Today's Games</h2></td></tr>
<tr><th></th><th></th><th class='alignRight'>Away</th><th></th><th class='alignLeft'>Home</th><th></th><th>&nbsp;</th></tr>
##todaysgames-begin##
<tr>
  <td>##time##</td>
  <td class='alignRight'><a href='/owner?id=##awayOwnerId##' style="color:##awayOwnerColor##">##awayOwner##</a></td>
  <td class='alignRight ##awayClass##'>##awayTeam##</td>
  <td>vs.</td>
  <td class='##homeClass##'>##homeTeam##</td>
  <td><a href='/owner?id=##homeOwnerId##' style="color:##homeOwnerColor##">##homeOwner##</a></td>
</tr>
##todaysgames-end##
<tr><td colspan=7>* Times are ET.</td></tr>
<tr><td colspan=7><h2 align=center>Yesterday's Games</h2></td></tr>
<tr><th></th><th></th><th class='alignRight'>Away</th><th></th><th class='alignLeft'>Home</th><th></th></tr>
##yesterdaysgames-begin##
<tr>
  <td>##time##</td>
  <td class='alignRight'><a href='/owner?id=##awayOwnerId##' style="color:##awayOwnerColor##">##awayOwner##</a></td>
  <td class='alignRight ##awayClass##'>##awayTeam##</td>
  <td>vs.</td>
  <td class='##homeClass##'>##homeTeam##</td>
  <td><a href='/owner?id=##homeOwnerId##' style="color:##homeOwnerColor##">##homeOwner##</a></td>
</tr>
##yesterdaysgames-end##
<tr>
  <td colspan=7>
    * Times are ET.
    <div style="float:right;"><a href="/games?date=##moreDate##">more games</a></div>
  </td>
</tr>
</table>
</div>
<br/><br/><br/>

<div id='teams'>
<h2 align=center>Teams</h2>
<table id='teamstable' border=0 cellpadding=5 cellspacing=1 align=center width=80%>
<tr><th align=left>Team</th><th align=left>Record</th><th align=left>Pct</th><th align=left>Owner</th></tr>
##teams-begin##
<tr>
  <td><a href='team?id=##id##'>##name##</a></td>
  <td>##wins## - ##losses##</td>
  <td>##pct##</td>
  <td><a href='owner?id=##ownerId##' style='color:##ownerColor##;'>##ownerName##</a></td>
</tr>
##teams-end##
</table>
</div>

<!--<div id='teamsbyowner'>
<h2 align=center>Teams by Owner</h2>
<table id='teamsbyownertable' border=0 cellpadding=5 cellspacing=1 align=center width=80%>
<tr><th align=left>Owner</th><th align=left>Team</th><th align=left>Wins</th><th align=left>Losses</th></tr>
##teamsbyowner-begin##
<tr><td rowspan=5>##name##</td><td></td><td></td><td></td></tr>
##ownerteams-begin##
<tr><td>##name##</td><td>##wins##</td><td>##losses##</td></tr>
##ownerteams-end##
##teamsbyowner-end##
</table>
</div>-->
