<!DOCTYPE html>
<html>
<head>
<title>2015 NBA Pick'em</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
<div id='main'>
	
<h1>2015 NBA Pick'em</h1>

<div id='scores'>
<img id='winningimage' src="##image##" title="Current Winner's Image" width=300>
<table id='scoretable' border=0 cellpadding=5 cellspacing=1 align=center>
<tr><th align=left>Name</th><th align=left>Score</th></tr>
##score-begin##
<tr><td>##name##</td><td>##wins##</td></tr>
##score-end##
</table>
</div>

<div id='wrapper'>

##BODYTEXT##


</div>
<div id ='footer'>&copy; 2014 Jamie Smith</div>
</div>

</body>
</html>
