<!DOCTYPE html>
<html>
<head>
<title>2016 NBA Pick'em</title>
<link rel="icon" type="image/ico" href="favicon.ico"/>
<link rel="manifest" href="static/manifest.json">
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
<div id='main'>
	
<h1><a href="/">2016 NBA Pick'em</a></h1>

<div id='scores'>
<img id='winningimage' src="##image##" title="Current Winner's Image" width=300>
<table id='scoretable' border=0 cellpadding=5 cellspacing=1 align=center>
<tr><th align=left>Name</th><th align=left>Score</th><th align=left>Pct</th></tr>
##score-begin##
<tr><td><a href='/owner?id=##id##' style='color:##color##'>##name##</a></td><td><span class="bold">##wins##</span></td><td>##pct##</td></tr>
##score-end##
</table>
<br/><br/>
</div>

<div id='wrapper'>
<ul id='nav'>
	<li><a href='/'>Home</a></li><li>|</li>
	<li><a href='/owner'>Owner Page</a></li><li>|</li>
	<li><a href='/teamstandings'>Team Standings</a></li><li>|</li>
	<li><a href='/challenges'>Challenges</a></li><!--<li>|</li>
	<li><a href='/conference?c=W'>Western Conference</a></li><li>|</li>
	<li><a href='/conference?c=E'>Eastern Conference</a></li><li>|</li>
	<li><a href='/logout'>Log out</a></li>-->
</ul>

##BODYTEXT##


</div>
<div id ='footer'>&copy; 2016 Jamie Smith</div>
</div>
</body>
</html>
