<div>Using this site requires cookies. Type in your codeword and select who you are from the list below!

<form action="#" method="POST" name="login" id="login_form">
<div><label>Codeword: <input type="text" name="password" id="password" value="" /></label></div>
<table id='logintable' border=0 cellpadding=5 cellspacing=1 align=left width='60%'>
<tr><td colspan=3><h2 align=center>Who are you?</h2></td></tr>
##owners-begin##
<tr>
  <td><img src="##image##" width=50 /></td>
  <td><a onClick='setOwner("##id##")' style="color:##ownerColor##;cursor:pointer" />##name##</a></td>
  <td>##pct##</td>
</tr>
##owners-end##
</table>
  <input type="text" name="owner" id="owner" value="" style="display:none;" />
</form>
</div>

<script lang="javascript">
function setOwner(id) {
  var form = document.getElementById('login_form');
  var input = document.getElementById('owner');
  input.value = id;
  form.submit();
}
</script>