<!DOCTYPE html>
<html>
<head>
<title>2015 NBA Pick'em: Log Dashboard</title>
<script type="text/javascript" src="/scripts/logs_ui.js"></script>
<style rel="stylesheet">
td {
  font-size: 12px;
}
a {
  color:black;
  text-decoration:none;
}
a:hover {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}
</style>
</head>

<body>
  <div><a href="/">Home</a></div>
  <div>
    Filter Type: <select id='filtertype' onchange='ui.updateFilterType();'><option value="1">WHITE</option><option value="2">BLACK</option></select> | 
    <a id='filter' onclick="ui.clearFilters();">clear filters</a>
  </div>
  <div>&nbsp;</div>
  <table id='logtable' border=2 cellpadding=3>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Method</th>
      <th>Url</th>
      <th>IP</th>
      <th>UserAgent</th>
    </tr>
  </table>

  <div id ='footer'>&copy; 2014 Jamie Smith</div>
</body>
<script>
var local = local || {};
local.logs = [
##requests-begin##
{
  request_id: '##request_id##',
  date: '##date##',
  time: '##time##',
  method: '##method##',
  url: '##url##',
  ip_address: '##ip_address##',
  user_agent: '##user_agent##',
},
##requests-end##
];


window.onload = function(event) {
  ui.init(local.logs);
}
</script>
</html>
