  <div class='smallText' id='loadingtime'></div>
  <a href="/">&lt; back to home</a>
  
  <div id='ownerinfo'>
    <h1 id='ownerheader'>##ownername##</h1>
    <div id='ownerrecord'>record: ##wins## - ##losses##</div>
  </div>
  
  <div id='ownerteams'>
    <h2 align=center>Teams</h2>
    <table id='ownerteamstable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th align=left>Team</th><th align=left>Record</th><th align=left>Pct</th></tr>
      ##teams-begin##
      <tr><td>##name##</td><td>##wins## - ##losses##</td><td>##pct##</td</tr>
      ##teams-end##
    </table>
  </div>
  <div id='ownervs'>
    <h2 align=center>Vs Owners</h2>
    <table id='ownervstable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th align=left>Owner</th><th align=left>Record</th><th align=left>Pct</th></tr>
      ##vsOwners-begin##
      <tr><td><a href='/owner?id=##id##' style='color:##color##;'>##name##</a></td><td>##wins## - ##losses##</td><td>##pct##</td</tr>
      ##vsOwners-end##
      <tr><td colspan=3><span class='smallText'>* ##ownername##'s record against other owners.</span></td></tr>
    </table>
  </div>
  <div style='clear:both;'></div>
  
  <div id='ownergames'>
    <h2 align=center>Games</h2>
    <table id='ownergamestable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th>Date</th><th>Team</th><th>Opp</th><th>Result</th><th>W/L</th><th>Other Owner</th></tr>
      ##games-begin##
      <tr>
        <td>##date##</td>
        <td>##name##</td>
        <td>##oppName##</td>
        <td class='##scoreClass##'>##score##</td>
        <td>##wl##</td>
        <td><a href='/owner?id=##oppOwnerId##' style='color:##oppOwnerColor##;'>##oppOwnerName##</a></td>
      </tr>
      ##games-end##
    </table>
  </div>
  <br><br><br>
