  <div class='smallText' id='loadingtime'></div>
  
  <div id='ownerinfo'>
    <h1 id='ownerheader'>##ownername##</h1>
    <div id='ownerrecord'>record: ##wins## - ##losses##</div>
  </div>
  
  <div id='ownerteams'>
    <h2 align=center>Teams</h2>
    <table id='ownerteamstable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th align=left>Team</th><th align=left>Record</th><th align=left>Pct</th></tr>
      ##teams-begin##
      <tr><td>##name##</td><td>##wins## - ##losses##</td><td>##pct##</td</tr>
      ##teams-end##
    </table>
  </div>
  <div id='ownervs'>
    <h2 align=center>Vs Owners</h2>
    <table id='ownervstable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th align=left>Owner</th><th align=left>Record</th><th align=left>Pct</th></tr>
      ##vsOwners-begin##
      <tr><td><a href='/owner?id=##id##' style='color:##color##;'>##name##</a></td><td>##wins## - ##losses##</td><td>##pct##</td</tr>
      ##vsOwners-end##
      <tr><td colspan=3><span class='smallText'>* ##ownername##'s record against other owners.</span></td></tr>
    </table>
  </div>
  <div style='clear:both;'></div>

##IF showChallenges##
  <div id='pendingchallenges'>
    <h2 align=center>Pending Challenges</h2>
    <table id='teamstable' border=0 cellpadding=5 cellspacing=1 align=center width=80%>
      <tr><th align=left>Date</th><th align=left>Teams</th><th align=left>Owner</th><th align=left>Bid</th><th></th></tr>
      ##challenges-begin##
      <tr>
        <td>##date##</td>
        <td>##awayTeamName## @ ##homeTeamName##</td>
        <td><a href='owner?id=##ownerId##' style='color:##ownerColor##;'>##ownerName##</a></td>
        <td>##bid##</td>
        <td>##status##</td>
      </tr>
      ##challenges-end##
    </table>
    <form action='/acceptchallenge' method='POST' name='login' id='login_form' style='display:none;'>
      <input type='text' name='gamekey' id='gamekey' value='' />
    </form>
  </div>
##ENDIF showChallenges##

  <div id='ownergames'>
    <h2 align=center>Games</h2>
    <table id='ownergamestable' border=0 cellpadding=5 cellspacing=1 align=center>
      <tr><th>Date</th><th>Team</th><th>Opp</th><th>Result</th><th>Bid</th><th>Opp Owner</th><th>Total</th></tr>
      ##games-begin##
      <tr>
        <td>##date##</td>
        <td>##name##</td>
        <td>##oppName##</td>
        <td class='##scoreClass##'>##score##</td>
        <td align="center">##bid##</td>
        <td><a href='/owner?id=##oppOwnerId##' style='color:##oppOwnerColor##;'>##oppOwnerName##</a></td>
        <td align="center">##points##</td>
      </tr>
      ##games-end##
    </table>
  </div>
  <br><br><br>

<script lang="javascript">
function acceptChallenge(id) {
  var form = document.getElementById('login_form');
  var input = document.getElementById('gamekey');
  input.value = id;
  form.submit();
}
</script>